
<mat-card>
    <span>Create new account</span>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
        <mat-form-field>
            <input matInput placeholder="UserName" formControlName="userName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid"> Register </button>
    </form> 
</mat-card>